<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Appier Ad Content</title>
  </head>

  <body>
    <div class="content">
      <div class="entryAnimate">
        <div class="entryAnimate__container">
          <img class="entryAnimate__target" src="<%=require('./assets/entryAnimate_img.png')%>" />
        </div>
      </div>
      <div class="slot">
        <div class="slot__general">
          <img src="<%=require('./assets/general.png')%>" alt="" />
        </div>
        <div class="slot__container">
          <div class="slot__banner">
            <img src="<%=require('./assets/slot_banner.png')%>" alt="" />
          </div>
          <div class="slot__video">
            <video loop muted webkit-playsinline playsinline>
              <source
                src="https://assets.mixkit.co/videos/preview/mixkit-aerial-panorama-of-a-landscape-with-mountains-and-a-lake-42491-large.mp4"
                type="video/mp4"
              />
            </video>
          </div>
          <div class="slot__products">
            <div class="slot__product">
              <img src="<%=require('./assets/slot01.png')%>" alt="rpuducts01" />
            </div>
            <div class="slot__product">
              <img src="<%=require('./assets/slot02.png')%>" alt="rpuducts02" />
            </div>
            <div class="slot__product">
              <img src="<%=require('./assets/slot03.png')%>" alt="rpuducts03" />
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="expand">
        <div class="expand__withdraw">
          <img src="<%=require('./assets/withdraw.png')%>" alt="" />
        </div>
        <div class="expand__wrapper">
          <div class="expand__banner">1</div>
          <div class="expand__banner">2</div>
          <div class="expand__banner">3</div>
        </div>
      </div> -->
    </div>
  </body>
</html>
